.header-main__menu {
  ul {
    @include reset-list();
    gap: 56px;
    a {
      color: $color-grey;
      text-decoration: none;
      &.active,
      &:hover {
        color: $color-mountbatten;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          height: 2px;
          background-color: $color-mountbatten;
          width: 80%;
          bottom: -10px;
          left: 10%;
        }
      }
    }
  }
}
